body {
    color: black;
    font-family: Arial;
    margin: 0;
}

@font-face {
    font-family: Arkhip;
    src: url(Arkhip_font.otf);
  }

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

.logo {
    width: 25px;
    height: 25px;
    margin: 0;
}

p{
    margin: 2vw;
}