body {
    color: black;
    font-family: Arial;
    margin: 0;
}

@font-face {
    font-family: Arkhip;
    src: url(Arkhip_font.otf);
  }

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

nav {
    background-color: black;
    color: white;
    display: flex;
}

.logo {
    width: 25px;
    height: 25px;
    margin: 0;
}

.itensNav {
    display: flex;
    align-items: right;
    justify-content: right;
    
}

.tituloPAIF {
    font-family: Arkhip;
    margin: 0;
}

nav div a {
    margin-left: ;
}