nav {
    background-color: #6fad99;
    color: white;
    display: flex;
}

.itensNav {
    display: flex;
    align-items: center;
    justify-content: right;
    
}

.tituloPAIF {
    font-family: Arkhip;
    margin: 0;
    font-weight: bold;
}

nav div a {
    margin-left: 25px;
    font-weight: bold;
    padding: 2vh;
}

nav div a:hover{
    background-color: white;
    color: black;
}

nav a {
    display: flex;
    align-items: center;
}

nav div {
    margin-inline: 2vh;
    display: flex;
    align-items: center;
}